1. Write a python program to sum of the first n positive integers.

In [ ]:
n = int(input("enter number: "))
x = 0
for i in range(1,n+1):
    x = x + i

print(x)

2. Write a Python program to count occurrences of a substring in a string.
3. Write a Python program to count the occurrences of each word in a given sentence.

In [ ]:
#count occurence of a substring in a string
#count the occurrences of each word in a given sentence.

n = input("enter: ")
x = input("enter what to count: ")
print(n.count("in"))
print(n.count(x))

4. Write a Python program to get a single string from two given strings, separated by a space and swap the first
two characters of each string

In [ ]:
a = input("entert 1:")
b = input("entert 2:")

x = a.replace(a[0:2],b[0:2])
y = b.replace(b[0:2],a[0:2])


print(x,y)

5. Write a Python program to add 'ing' at the end of a given string (length should be at least 3).
If the given string already ends with 'ing' then add 'ly' instead If the string length of the given
string is less than 3, leave it unchanged

In [ ]:
a = input("enter string :")
x = len(a)
if(x >= 3):
    if(a.endswith("ing")==True):
        b = a.removesuffix("ing")
        print(b.__add__("ly"))

    else:

        print(a.__add__("ing"))

else:
    print(a)

6. Write a Python program to find the first appearance of the substring 'not' and 'poor' from a given string, if
'not' follows the 'poor', replace the whole 'not'...'poor' substring with 'good'.
Return the resulting string

In [ ]:
a = input("enter string: ")

if(a.count("not") and a.count("poor")):
    print(a.replace("not poor","good"))
else:
    print(a)

7. Program to find Greatest Common Divisor of two numbers.
For example, the GCD of 20 and 28 is 4 and GCD of 98 and 56 is 14

In [ ]:
a = int(input("enter number: "))
b = int(input("enter number: "))
c = []
for i in range(1,a):
    x = a%i
    y = b%i
    if(x==0 and y==0):
        c.append(i)
    else:
        i=i+1

print(max(c))

8. Write a Python program to check whether a list contains a sublist.

In [ ]:
a = [1,2,3,3,4,[5,6],7,78,7]

b = [5,6]


if(b in a):
    print("present")
else:
    print("not present")

not present

9. Write a Python program to find the second smallest number in a list.

In [ ]:
a = [1,221,34,5,331,11,3,2,111]
a.sort()
print(a[1])

2

10. Write a Python program to get unique values from a list.

In [ ]:
l = [1,1,1,2,4,45,56,7,6]
x = []

for i in l:
    if(i not in x):
        x.append(i)

print(x)

11. Write a Python program to unzip a list of tuples into individual lists.

In [ ]:
a = [(1,3),(2,4),(3,5)]

for i in a:
    x = [i]
    print(x)

12. Write a Python program to convert a list of tuples into a dictionary

In [ ]:

x = [("1",12),("2",33),("3",43)]

y = {}

for i,j in x:
    y.setdefault(i,j)

print(y)

{'1': 12, '2': 33, '3': 43}

13. Write a Python program to sort a dictionary (ascending /descending) by value


14. Write a Python program to find the highest 3 values in a dictionary.

15. Given a number n, write a python program to make and print the

list of Fibonacci series up to n.

Input : n=7

Hint : first 7 numbers in the series

Expected output :
First few Fibonacci numbers are 0, 1, 1, 2, 3, 5, 8, 13

In [ ]:
n = int(input("enter no.:"))
a,b,c = 0,1,0
x = []
for i in range(1,n+1):
    c = a + b
    a = b
    b = c
    x.append(c)

print(x)

enter no.:5
[1, 2, 3, 5, 8]

16. Counting the frequencies in a list using a dictionary in Python.

Input : [1, 1, 1, 5, 5, 3, 1, 3, 3, 1,4, 4, 4, 2, 2, 2, 2]

Expected output : 1 : 5 , 2 : 4 , 3 : 3 , 4 : 3 , 5 : 2

In [ ]:
a = [1, 1, 1, 5, 5, 3, 1, 3, 3, 1,4, 4, 4, 2, 2, 2, 2]


b = {1:a.count(1),2:a.count(2),3:a.count(3),4:a.count(4),5:a.count(5)}

print(b)

{1: 5, 2: 4, 3: 3, 4: 3, 5: 2}

17. Write a python program using function to find the sum of odd series and even series

Odd series: 12/ 1! + 32/ 3! + 52/ 5!+……n

Even series: 22/ 2! + 42/ 4! + 62/ 6!+……n

In [ ]:
import math

n = int(input("enter: "))
a = 0
b = 0
c = 0
d = 0
e = 0
x = 0
if(n%2==0):
    for i in range(0,n+1):
        a = 12 + i*20
        b = 1 + (i * 2)
        x = math.factorial(b)
        c = c + float(a/(x))
    print(c)
else:
    for i in range(0,n+1):
        d = 22 + i*20
        e = 2 + (i * 2)
        x = math.factorial(e)
        c = c + float(d/(x))
    print(c)

enter: 5
12.838173204431884

18. Python Program to Find Factorial of Number Using Recursion

In [ ]:
def fact(n):
    a  = 1
    for i in range(1,n+1):
        a = a * i
    print(a)


n = int(input("enter no. for factorial: "))
fact(n)

enter no. for factorial: 10
3628800

19. Write a Python function that takes a list and returns a new list with unique elements of the first list

In [ ]:
def element(x):
  x = []
  for i in x:
    if(i not in x):
      x.append(i)
    return x

  print(element(1,2,1,2,3,4,5,6))